*{
     margin: 0px auto;
     padding: 0px auto;
}

body {
     background-color: #303030;
}

/* ################################################## */

.image_link {
     cursor: pointer;
}
.image_link:hover {
     transition: 0.3s ease;
     opacity: 0.5;
}

/* - */

.RALELU_MARCAS_SMALL {
     pointer-events: none;
     height: 75px;
     padding: 15px;
     border-bottom: 1px solid #f1f1f1;
}
.RALELU_MARCAS_BIG {
     pointer-events: none;
     height: 60px;
     align-self: flex-end;
     border-bottom: 1px solid #f1f1f1;
     padding: 15px;
}
.RALELU_MARCAS_linha {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
}

/* ############################## */

#LOGO_e_CTA {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     background-color: #303030;
}

#LOGO {
     pointer-events: none;
     padding: 20px;
     background-color: #151515;
     border-radius: 10px;
     height: 80px;
}

#CTA {
     display: flex;
     align-items: center;
     font-family: 'Abril Fatface', serif;
     letter-spacing: 6px;
     color: #f1f1f1;
     gap: 15px;
}

#CTA_conteiner_image_link img {
     width: 60px;
}

#CTA_conteiner_image_link {
     display: flex;
     gap: 15px;
     padding: 10px 20px 10px 20px;
     border-radius: 30px;
     background-color: #202020;
}

/* ############### */

#CONTEUDO_MAIN {
     background: linear-gradient(to right, #CB6CE6, #5E17EB, #FDC236);
}

#CONTEUDO_MAIN_TITULO_RALELU_MARCAS {
     text-align: center;
     color: #f1f1f1;
     font-family: 'Abril Fatface', serif;
     letter-spacing: 6px;
     text-shadow: 5px 4px 8px #303030;
}

#CONTEINER_MAIN_RALELU_MARCAS {
     width: 85%;
     display: grid;
     border-radius: 30px;
     background-color: #303030;
     gap: 15px;
     padding: 20px;
     border: 5px solid #f1f1f1;
}

.CONTEUDO_CONTEINER_RALELU_MARCAS {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     gap: 15px;
}

.IMAGE_ITENS_RALELU_MARCAS {
     background-color: #151515;
     /* padding: 30px; */
     padding: 5px;
     border: 5px solid #f1f1f1;
     border-radius: 30px;
     height: 450px;
     background-size: cover;
}


.ITENS_RALELU_MARCAS_COPY_TEXT {
     font-family: 'Inter', sans-serif;
     color: #f1f1f1;
     font-size: 18px;
     text-align: justify;
}

/* - */

#CONTEUDO_MAIN_RALELU_OFERTAS {
     width: 85%;
     display: flex;
     gap: 30px;
     align-items: center;
     background-color: #303030;
     padding: 20px;
     border: 5px solid #f1f1f1;
     border-radius: 30px;
}

#CONTEINER_RALELU_OFERTAS_COPY_TEXT {
     width: 100%;
     font-family: 'Inter', sans-serif;
     font-size: 15px;
}

#ITENS_RALELU_OFERTAS_COPY_TEXT {
     text-align: left;
     color: #f1f1f1;
     font-size: 21px;
}

/* ############### */

#RODAPE_CREDITOS {
     display: flex;
     padding: 4px;
     align-items: center;
     color: #919191;
     background-color: #303030;
}

#link_dev {
     color: #919191;
}
#link_dev:hover {
     transition: 0.3s ease;
     text-decoration: none;
     color: #f1f1f1;
}

#image_icon_link_dev {
     height: 15px;
     align-items: center;
     pointer-events: none;
}

/* ########## RESPONSIVIDADE ########## */

@media screen and (max-width: 900px) {
     
     #conteiner_LOGO {
          display: flex;
          justify-content: center;
          background-color: #151515;
          width: 70%;
          padding: 10px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
     }

     #LOGO_e_CTA {
          padding-top: 0px;
          gap: 20px;
     }

     .RALELU_MARCAS_BIG {
          pointer-events: none;
          height: 33px;
          align-self: flex-end;
          border-bottom: 1px solid #f1f1f1;
          padding: 15px;
     }

     /* ############### */

     #CONTEUDO_ITENS_RALELU_MARCAS {
          flex-wrap: wrap;
          gap: 20px;
     }

}

@media screen and (max-width: 650px) {
     
     #CTA {
          flex-wrap: wrap;
          font-size: 15px;
     }

     #LOGO {
          height: 60px;
     }

     #CONTEUDO_MAIN_RALELU_OFERTAS {
          display: grid;
     }

     #ITENS_RALELU_OFERTAS_COPY_TEXT {
          font-size: 19px;
          text-align: justify;
     }

}


@media screen and (max-width: 610px) {
     
     #CTA_conteiner_image_link {
          gap: 30px;
     }

}

@media screen and (min-width: 1115px) {

     #CONTEUDO_MAIN_TITULO_nossos {
          font-size: 90px;
     }

}

@media screen and (max-width: 1114px) {

     #CONTEUDO_MAIN_TITULO_nossos {
          font-size: 60px;
     }

     .IMAGE_ITENS_RALELU_MARCAS {
          height: 350px;
     }

}

@media screen and (max-width: 740px) {

     #CONTEUDO_MAIN_TITULO_nossos {
          font-size: 40px;
     }

     .ITENS_RALELU_MARCAS_COPY_TEXT {
          font-size: 15px;
     }
     
}


@media screen and (max-width: 540px) {

     #CONTEUDO_MAIN_TITULO_nossos {
          font-size: 30px;
     }

     #image_tupperware {
          height: 50px;
     }

}

@media screen and (max-width: 445px) {

     #CONTEUDO_MAIN_TITULO_nossos {
          font-size: 18px;
     }

     #CTA {
          font-size: 11px;
     }

     #ITENS_RALELU_OFERTAS_COPY_TEXT {
          font-size: 16px;
          text-align: justify;
     }

     #CTA_conteiner_image_link img {
          width: 53px;
     }

     .IMAGE_ITENS_RALELU_MARCAS {
          height: 215px;
     }

     #CONTEINER_MAIN_RALELU_MARCAS {
          width: 70%;
     }

     #CONTEUDO_MAIN_RALELU_OFERTAS {
          width: 70%;
     }

     #image_tupperware {
          height: 40px;
     }

}